<%= form_for(@promotioncategory) do |f| %>
  <% if @promotioncategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotioncategory.errors.count, "error") %> prohibited this promotioncategory from being saved:</h2>

      <ul>
      <% @promotioncategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :promotion_id %><br>
    <%= f.number_field :promotion_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
