<p id="notice"><%= notice %></p>

<p>
  <strong>Promotion:</strong>
  <%= @promotioncategory.promotion_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @promotioncategory.category_id %>
</p>

<%= link_to 'Edit', edit_promotioncategory_path(@promotioncategory) %> |
<%= link_to 'Back', promotioncategories_path %>
