<%= form_for(@promotion, :html => {:multipart => true}) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
 
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  
  <div class="field">
    <% for category in Category.find(:all) %>
	<div>
	<%= check_box_tag "promotion[category_ids][]", category.id, @promotion.categories.include?(category)%>
    <%= category.name %>
	</div>
	<% end %>
  </div>
  <p>

    <%= f.file_field :pimage %>

   </p>

   <div class="actions">

     <%= f.submit %>

   </div>
   <% end %>