<h1>Listing promotions</h1>

  <%= form_tag('/search', method: :get) do -%>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %> 
      <%= link_to_function "Clear", "$('search_field').clear()" %>
  <% end %> 
<br><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Discount</th>
      <th>Branch</th>
      <th>Category</th>
      <th>Description</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  
	  
    <% @promotions.each do |promotion| %>
      <tr>
        <td id="name"><%= promotion.name %></td>
        <td><%= promotion.discount %></td>
        <td><%= promotion.description %></td>
        <td><%= promotion.end_date %></td>
        <td><%= link_to 'Show', promotion %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion', new_promotion_path %>
