<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @promotion.discount %>
</p>




<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>End date:</strong>
  <%= @promotion.end_date %>
</p>


<p>
<strong> Tags: </strong>
<% for i in @promotion.tags %>
<%= i.name %>   <br>
<% end %>
</p>

<p>
<strong> Categories: </strong>
<% for j in @promotion.categories %>
<%= j.name %>   <br>
<% end %>
</p>

<p>
<strong> Branches: </strong>
<% for m in @promotion.branches %>
<%= m.name %>   <br>
<% end %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @promotion.avatar.url %>
  <%= image_tag @promotion.avatar.url(:medium) %>
  <%= image_tag @promotion.avatar.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
