<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @promotion.discount %>
</p>




<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>End date:</strong>
  <%= @promotion.end_date %>
</p>



<p>
  <strong>Image:</strong>
  <%= image_tag @promotion.pimage_url.to_s %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
