<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @promotion.discount %>
</p>

<p>
  <strong>Branch:</strong>
   <%=	@promotion.branches.first.name %>
</p>

<p>
  <strong>Branch:</strong>
   <%=	@promotion.categories.first.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>End date:</strong>
  <%= @promotion.end_date %>
</p>

<p>
  <strong>Tags:</strong>
  <% for i in @promotion.tags do %>
  <%=	i.name %>
 <% end %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
